.App {
  text-align: center;
}

.panel-custom {
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    background-color: #f5f5f5;
}
.panel-custom > .panel-heading {
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    color: #fff;
}
